<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @application.answer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Time of creation:</strong>
  <%= @application.time_of_creation %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
