<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @application.answer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>

<p>
  <strong>Why do you want to apply for this internship?</strong>
  <%= @application.answer %>
</p>

<%= link_to 'Edit', edit_application_path(@application), class: "btn btn-outline-secondary btn-sm" %> |
<%= link_to 'Back', applications_path, class: "btn btn-outline-secondary btn-sm" %>
