

<h1>Companies</h1>

<table id="company_table" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>No. of Internships</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.description %></td>
        <td><%= company.internships.count %></td>
        <td><%= link_to 'Show', company, class: "btn btn-outline-secondary btn-sm" %>
          <% if can? :destroy, Company %>
          <%= link_to 'Edit', edit_company_path(company), class: "btn btn-outline-secondary btn-sm" %>
           <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %>
           <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
    $(document).ready( function () {
        $('#company_table').DataTable();
    } );
</script>

<br>
<% if can? :new, Company %>
<%= link_to 'New Company', new_company_path, class: "btn btn-outline-secondary btn-sm"  %>
<%end %>