

<p>
  <strong>Title:</strong>
  <%= @internship.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @internship.description %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= simple_format @internship.eligibility %>
</p>

<p>
  <strong>Apply By:</strong>
  <%= @internship.deadline %>
</p>

<p>
  <strong>Location:</strong>
  <%= @internship.location %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @internship.duration %>
</p>

<p>
  <strong>Stipend (INR per month):</strong>
  <%= @internship.stipend %>
</p>

<p>
  <strong>Start:</strong>
  <%= @internship.start %>
</p>
<% if can? :create, Application %>
  <%= link_to 'Apply for Internship', new_internship_application_path(@internship), class: "btn btn-outline-secondary btn-sm" %>
<% end %>
<br>
<% if can? :manage, Internship %>
  <%= link_to 'Edit', edit_internship_path(@internship), class: "btn btn-outline-secondary btn-sm" %> |
  <%= link_to 'Destroy', @internship, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm" %>
<% end %>