<!DOCTYPE html>
<html>
  <head>
    <title>InternshipPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="loginmenu">
    <% if user_signed_in? %>
        <%= current_user.email %><br>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <p id='<%= key %>'><%= value %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
